<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
    <title>Agricultura, Sentinel Hub WMS services with Leaflet</title>
{% block head %}
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }
        #map {
            height: 96%;
            width: 100%;
        }
    </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
{% endblock head %}
</head>
<body>
<input class="form-control" type="text" placeholder="Buscar por área" aria-label="Search" style="z-index:9999;" id="scriptBox" onkeypress="return runScript(event)">
<div id="map"></div>
{% block script %}
  {% include "js/L.TileLayer.BetterWMS.js" %}
  {% include "js/script.js" %}
{% endblock script %}
</body>
</html>
